**boxcutter/
*.exe
*.pfx
*.pyc
*.tar.gz
*.tgz
.DS_Store
.idea/
.mypy_cache/
.pytest_cache
.vagrant
.vagrant/
.vscode/
/.docker-sync
/.envrc
/.python-version
/agent
/collectd
/debug
/internal/core/common/constants/versions.go
/internal/monitors/**/genmetadata.go
/internal/monitors/**/template.go
/internal/monitors/collectd/collectd.conf.go
/monitor-code-gen
/packaging/*/output
/signalfx-agent
/vendor.orig/
__pycache__
build/
integration_results.*
local-etc/
test_output/
tmp/
